#page-header {
  background: transparent !important;
}
#page-header.post-bg,
#page-header.not-home-page {
  height: 420px !important;
}
#page-header #post-info {
  bottom: 40px !important;
  text-align: center;
}
#page-header #page-site-info {
  top: 140px !important;
}
@media screen and (max-width: 768px) {
  #page-header.not-home-page {
    height: 200px !important;
  }
  #page-header #post-info {
    bottom: 10px !important;
  }
  #page-header #page-site-info {
    top: 100px !important;
  }
}
.top-img {
  height: 250px;
  margin: -50px -40px 50px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .top-img {
    height: 230px;
    margin: -36px -14px 36px;
  }
}
[data-theme='dark'] .top-img {
  filter: brightness(0.8);
}
#footer:before {
  background-color: rgba(255,255,255,0.5);
}
[data-theme='dark'] #footer:before {
  background-color: rgba(0,0,0,0.5);
}
#footer-wrap,
#footer-wrap a {
  color: #111;
  -webkit-transition: unset;
  -moz-transition: unset;
  -o-transition: unset;
  -ms-transition: unset;
  transition: unset;
}
[data-theme='dark'] #footer-wrap,
[data-theme='dark'] #footer-wrap a {
  color: var(--light-grey);
}
#aside_content .card-widget,
#recent-posts > .recent-post-item,
.layout_page > div:first-child:not(.recent-posts),
.layout_post > #page,
.layout_post > #post,
.read-mode .layout_post > #post {
  background: rgba(255,255,255,0.65);
}
#aside-content > .card-widget,
#aside-content > .sticky_layout > .card-widget {
  background: rgba(255,255,255,0.8);
}
.layout > #post {
  background: rgba(255,255,255,0.8);
}
.layout > #page {
  background: rgba(255,255,255,0.8);
}
.layout > #archive {
  background: rgba(255,255,255,0.8);
}
html[data-theme='dark'] #aside_content .card-widget,
html[data-theme='dark'] #recent-posts > .recent-post-item,
html[data-theme='dark'] .layout_page > div:first-child:not(.recent-posts),
html[data-theme='dark'] .layout_post > #page,
html[data-theme='dark'] .layout_post > #post,
html[data-theme='dark'] .read-mode .layout_post > #post {
  background: rgba(20,20,20,0.6) !important;
}
html[data-theme='dark'] #aside-content > .card-widget,
html[data-theme='dark'] #aside-content > .sticky_layout > .card-widget {
  background: rgba(25,25,25,0.6) !important;
}
html[data-theme='dark'] .layout > #post {
  background: rgba(25,25,25,0.6) !important;
}
html[data-theme='dark'] .layout > #page {
  background: rgba(25,25,25,0.6) !important;
}
html[data-theme='dark'] .layout > #archive {
  background: rgba(25,25,25,0.6) !important;
}
#recent-posts > .recent-post-item {
  backdrop-filter: blur(6px);
}
/* 背景宇宙星光 */
#universe {
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}
#aside-content .aside-list > .aside-list-item {
  padding: 8px;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  border-radius: 12px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  margin: 4px 0;
  cursor: pointer;
}
#aside-content .aside-list > .aside-list-item .content > time {
  display: none;
}
#aside-content .aside-list > .aside-list-item .content > .title {
  -webkit-line-clamp: 3;
  font-weight: 700;
  padding: 2px 0;
}
#aside-content .aside-list > .aside-list-item:hover .thumbnail > img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
#aside-content .aside-list > .aside-list-item:not(:last-child) {
  border-bottom: 0 dashed var(--anzhiyu-background) !important;
}
#aside-content .aside-list > .aside-list-item .thumbnail {
  border-radius: 8px;
  border: var(--style-border);
}
#aside-content .aside-list > .aside-list-item:hover {
  background: var(--anzhiyu-blue-main);
  color: var(--anzhiyu-white);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: var(--anzhiyu-shadow-main);
  box-shadow: var(--anzhiyu-shadow-main);
}
#aside-content .aside-list > .aside-list-item:hover a {
  color: var(--anzhiyu-white) !important;
}
.card-widget.card-recent-post {
  padding: 0.4rem 0.6rem !important;
}
@media screen and (min-width: 1300px) {
  #aside-content .aside-list > .aside-list-item:hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
  }
  #aside-content .aside-list > .aside-list-item:active {
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -o-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
  }
}
