#page-header {
  background: transparent !important;
}
#page-header.post-bg,
#page-header.not-home-page {
  height: 280px !important;
}
#page-header #post-info {
  bottom: 40px !important;
  text-align: center;
}
#page-header #page-site-info {
  top: 140px !important;
}
@media screen and (max-width: 768px) {
  #page-header.not-home-page {
    height: 200px !important;
  }
  #page-header #post-info {
    bottom: 10px !important;
  }
  #page-header #page-site-info {
    top: 100px !important;
  }
}
.top-img {
  height: 250px;
  margin: -50px -40px 50px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .top-img {
    height: 230px;
    margin: -36px -14px 36px;
  }
}
[data-theme='dark'] .top-img {
  filter: brightness(0.8);
}
#footer:before {
  background-color: rgba(255,255,255,0.5);
}
[data-theme='dark'] #footer:before {
  background-color: rgba(0,0,0,0.5);
}
#footer-wrap,
#footer-wrap a {
  color: #111;
  -webkit-transition: unset;
  -moz-transition: unset;
  -o-transition: unset;
  -ms-transition: unset;
  transition: unset;
}
[data-theme='dark'] #footer-wrap,
[data-theme='dark'] #footer-wrap a {
  color: var(--light-grey);
}
#aside_content .card-widget,
#recent-posts > .recent-post-item,
.layout_page > div:first-child:not(.recent-posts),
.layout_post > #page,
.layout_post > #post,
.read-mode .layout_post > #post {
  background: rgba(255,255,255,0.65);
}
#aside-content > .card-widget,
#aside-content > .sticky_layout > .card-widget {
  background: rgba(255,255,255,0.8);
}
.layout > #post {
  background: rgba(255,255,255,0.8);
}
.layout > #page {
  background: rgba(255,255,255,0.8);
}
.layout > #archive {
  background: rgba(255,255,255,0.8);
}
html[data-theme='dark'] #aside_content .card-widget,
html[data-theme='dark'] #recent-posts > .recent-post-item,
html[data-theme='dark'] .layout_page > div:first-child:not(.recent-posts),
html[data-theme='dark'] .layout_post > #page,
html[data-theme='dark'] .layout_post > #post,
html[data-theme='dark'] .read-mode .layout_post > #post {
  background: rgba(20,20,20,0.6) !important;
}
html[data-theme='dark'] #aside-content > .card-widget,
html[data-theme='dark'] #aside-content > .sticky_layout > .card-widget {
  background: rgba(25,25,25,0.6) !important;
}
html[data-theme='dark'] .layout > #post {
  background: rgba(25,25,25,0.6) !important;
}
html[data-theme='dark'] .layout > #page {
  background: rgba(25,25,25,0.6) !important;
}
html[data-theme='dark'] .layout > #archive {
  background: rgba(25,25,25,0.6) !important;
}
#recent-posts > .recent-post-item {
  backdrop-filter: blur(6px);
}
/* 背景宇宙星光 */
#universe {
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}
/* 侧边栏个人信息卡片动态渐变色 */
#aside-content > .card-widget.card-info {
  background: -webkit-linear-gradient(135deg, #e8d8b9, #eccec5, #a3e9eb, #bdbdf0, #eec1ea);
  background: -moz-linear-gradient(135deg, #e8d8b9, #eccec5, #a3e9eb, #bdbdf0, #eec1ea);
  background: -o-linear-gradient(135deg, #e8d8b9, #eccec5, #a3e9eb, #bdbdf0, #eec1ea);
  background: -ms-linear-gradient(135deg, #e8d8b9, #eccec5, #a3e9eb, #bdbdf0, #eec1ea);
  background: linear-gradient(-45deg, #e8d8b9, #eccec5, #a3e9eb, #bdbdf0, #eec1ea);
  -webkit-box-shadow: 0 0 5px #424444;
  box-shadow: 0 0 5px #424444;
  position: relative;
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  -webkit-animation: Gradient 10s ease infinite !important;
  -moz-animation: Gradient 10s ease infinite !important;
  -o-animation: Gradient 10s ease infinite !important;
  -ms-animation: Gradient 10s ease infinite !important;
  animation: Gradient 10s ease infinite !important;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* 黑夜模式适配 */
[data-theme="dark"] #aside-content > .card-widget.card-info {
  background: rgba(25,25,25,0.933);
}
/* 个人信息Follow me按钮 */
#aside-content > .card-widget.card-info > #card-info-btn {
  background-color: #3eb8be;
  border-radius: 8px;
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
