/* 网页整体背景，渐变色设置 */
#web_bg {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  /* fallback for old browsers */
  background: #2BC0E4;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #EAECC6, #2BC0E4);
}

/* 主页、所有文章页面背景半透明 */
#aside_content .card-widget,
#recent-posts > .recent-post-item,
.layout_page > div:first-child:not(.recent-posts),
.layout_post > #page,
.layout_post > #post,
.read-mode .layout_post > #post {
  background: rgba(255, 255, 255, 0.5);
}

/* 侧边栏背景半透明 */
#aside-content > .card-widget,
#aside-content > .sticky_layout > .card-widget {
  background: rgba(255, 255, 255, 0.6);
}

/* 文章页面背景半透明 */
.layout > #post {
  background: rgba(255, 255, 255, 0.6);
}

/* 分类页面背景半透明 */
.layout > #page {
  background: rgba(255, 255, 255, 0.6);
}

/* 时间轴页面背景半透明 */
.layout > #archive {
  background: rgba(255, 255, 255, 0.6);
}
