@keyframes shine {
  0%, 100% {
    color: #fff;
    text-shadow: 0 0 10px #6ce9ff, 0 0 10px #ff73ec;
  }
  50% {
    text-shadow: 0 0 10px #ffac68, 0 0 40px #a0ff74;
  }
}

/* 侧边栏个人信息卡片动态渐变色 */
#aside-content > .card-widget.card-info {
  background: linear-gradient(
    -45deg,
    #fff5e0,
    #ffe5dd,
    #ccfdff,
    #f7dbff,
    #ffdcfc
  );
  background-size: 400% 400%;
  animation: shine 8s ease infinite;
  border-radius: 8px;
  padding: 20px;
  color: #333;
}

